RewriteEngine On
RewriteBase /

RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

ErrorDocument 404 /404
ErrorDocument 403 /404
Redirect 301 /contacts https://www.bituteh.com/contact
Redirect 301 /contact-us https://www.bituteh.com/contact
Redirect 301 /hydro1 https://www.bituteh.com/services/torch-applied-waterproofing
Redirect 301 /hydro2 https://www.bituteh.com/services/pvc-tpo-membranes
Redirect 301 /hydro3 https://www.bituteh.com/services/coating-waterproofing
Redirect 301 /hydro4 https://www.bituteh.com/services/bitumen-shingles
Redirect 301 /hydro5 https://www.bituteh.com/services/roof-sheet-metal-work
Redirect 301 /about https://www.bituteh.com/about-us
Redirect 301 /reference https://www.bituteh.com/partners




# Serve /work/index.html when /work is accessed
RewriteCond %{REQUEST_URI} ^/services/?$ [NC]
RewriteCond %{DOCUMENT_ROOT}/services/index.html -f
RewriteRule ^work/?$ /services/index.html [L]

# Remove trailing slash for non-directory URLs
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)/$ /$1 [R=301,L]

# If .html exists, serve it without showing .html
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.*)$ $1.html [L]

# Redirect .html URLs to clean URLs
RewriteCond %{THE_REQUEST} \s/(.*)\.html [NC]
RewriteRule ^(.*)\.html$ /$1 [R=301,L]

# Catch-all for dynamic requests
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]